:root {
    font-family: 'Anonymous Pro', Roboto;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background: #ececec;
}

html {
    scroll-behavior: smooth;
}

.unselectable {
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.main-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button, a, input, textarea {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}