.card {
    background-color: #EEEEEE;
    border-radius: 15px;

    text-decoration: none;
    color: black;

    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
    transition: all ease-out 0.3s;

    &:hover {
        box-shadow: 2px 2px 7px rgba(51, 51, 51, 0.3);
        transform: scale(1.02);
    }

    // Title
    h2 {
        font-weight: bold;
        text-align: center;
    }

    .stack-group {
        display: inline-flex;
        flex-wrap: wrap;

        margin: 0 1rem;
    
        gap: 5px;
    }

    // Paragraph
    p { 
        margin: 1rem 1rem;

        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        display: -webkit-box;
    }

    cursor: pointer;

    img {
        object-fit: cover;

        width: 100%;
        height: 135px;

        border-radius: 15px 15px 0 0;
    }
}

