footer {
    background-color: #434343;
    color: white;

    margin-top: 3rem;

    .content-holder {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 3rem;
        padding: 2rem;
    }

    // Title
    h1 {
        font-weight: bold;
        font-size: 20pt;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 15pt;
    }

    p, ul {
        font-size: 15pt;
        // color: #BCBCBC;
    }

    li {
        a {
            transition: 0.3s ease;

            &:hover {
                color: white;
    
                transition: 0.3s ease;
            }
        }

        &:last-child {
            padding-bottom: 1rem;
        }
        
    }

    .social-holder {
        display: flex;
        gap: 2rem;

        padding-top: 2rem;

        svg {
            fill: white;
            transform: scale(1.5);
            transition: 0.3s ease;
        }

        a {
            &:hover {
                svg {
                    transform: scale(1.7);
                    transition: 0.3s ease;
                }
            }
        }
    }

    .telegram-link {
        color: #BCBCBC;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #229ED9;
            fill: #229ED9;

            transition: 0.2s ease-in-out;
        }
    }

    .footer-line {
        width: 100%;
        height: 0.7rem;
    }
}

