.big-text-input {
    

    .controls {
        display: flex;
    }

    .work-area {
        display: flex;

        .text-area {

        }

        .preview {
            a {
                color: red;
                text-decoration: underline;
            }
        }
    }
}
    